<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- for ios 7 style, multi-resolution icon of 152x152 -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
    <link rel="apple-touch-icon" href="images/logo.png">
    <meta name="apple-mobile-web-app-title" content="Flatkit">
    <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="images/logo.png">    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="assets/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/animate.css/animate.css" />
    <!--<link rel="stylesheet" href="bower_components/angular-material/angular-material.css" />-->
    <!--<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick.css" />-->
    <!--<link rel="stylesheet" href="bower_components/slick-carousel/slick/slick-theme.css" />-->
    <!--<link rel="stylesheet" href="bower_components/ng-tags-input/ng-tags-input.min.css" />-->
    <!--<link rel="stylesheet" href="bower_components/angular-ui-select/dist/select.css" />-->
    <!--<link rel="stylesheet" href="bower_components/bootstrap-offcanvas/dist/css/bootstrap.offcanvas.css" />-->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css" type="text/css"/>
    <link rel="stylesheet" href="styles/custom.css" type="text/css"/>
    <link rel="stylesheet" href="styles/font.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="styles/mycustom.css">
    <link rel="stylesheet" type="text/css" href="styles/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="styles/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- endbuild -->


    <!-- style -->
    <!-- <link rel="stylesheet" href="../assets/animate.css/animate.min.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="../assets/glyphicons/glyphicons.css" type="text/css" /> -->
    <!-- <link rel="stylesheet" href="../assets/font-awesome/css/font-awesome.min.css" type="text/css" /> -->

    <!-- <link rel="stylesheet" href="../assets/bootstrap/dist/css/bootstrap.min.css" type="text/css" /> -->
    <!-- build:css ../assets/styles/app.min.css -->
    <!-- endbuild -->
</head>
<body>
<!--   <div class="app" id="app">
  <div id="content" class="app-content box-shadow-z0" role="main"> -->

<div class="app-header navbar-md white box-shadow">
    <div class="navbar ng-scope">
        <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
            <i class="material-icons"></i>
        </a>
        <a class="navbar-brand ng-scope" ng-href="/#/">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                <path d="M 4 4 L 44 4 L 44 44 Z" fill="#a88add"></path>
                <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                <path d="M 4 4 L 24 4 L 4  44 Z" fill="#0cc2aa"></path>
            </svg>
            <img src="assets/images/logo.png" alt="." class="hide">
            <span class="hidden-folded inline ng-binding">Eiffel</span>
        </a>

        <ul class="nav navbar-nav pull-right">

            <li class="nav-item">
                <a href="/#/notification" class="nav-link m-t-sm" ui-fullscreen="">
                    <span><i class="material-icons md-24"></i></span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a href class="nav-link dropdown-toggle clear" data-toggle="dropdown">
          <span class="avatar w-32">
            <img src="assets/images/a2.jpg" alt="...">
            <i class="busy b-white right"></i>
          </span>
                </a>
                <div class="dropdown-menu pull-right dropdown-menu-scale ng-scope">
                    <a class="dropdown-item" ui-sref="app.inbox.list" href="#/app/inbox/inbox/">
                        <span>Inbox</span>
                        <span class="label warn m-l-xs">3</span>
                    </a>
                    <a class="dropdown-item" ui-sref="app.page.profile" href="/#/profile">
                        <span>Profile</span></a>
                    <a class="dropdown-item" ui-sref="app.page.setting" href="/#/settings">
                        <span>Settings</span>
                        <span class="label primary m-l-xs">3/9</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" ui-sref="app.docs" href="#/app/docs">Need help?</a>
                    <a class="dropdown-item" ui-sref="access.signin" href="/#/signup">Sign out</a>
                </div>
            </li>
            <li class="nav-item">
                <a  class="navbar-toggle offcanvas-toggle pull-right nav-link m-t-sm"
                    data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;"
                    ui-fullscreen="">
                    <span><i class="material-icons md-24"></i></span>
                </a>
            </li>
        </ul>

        <div class="app-header navbar-md white box-shadow">
            <div class="navbar ng-scope">
                <a data-toggle="collapse" data-target="#navbar-4" class="navbar-item pull-right hidden-md-up m-a-0 m-l">
                    <i class="material-icons"></i>
                </a>
                <a class="navbar-brand ng-scope" ng-href="/#/">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48" width="24" height="24">
                        <path d="M 4 4 L 44 4 L 44 44 Z" fill="#a88add"></path>
                        <path d="M 4 4 L 34 4 L 24 24 Z" fill="rgba(0,0,0,0.15)"></path>
                        <path d="M 4 4 L 24 4 L 4  44 Z" fill="#0cc2aa"></path>
                    </svg>
                    <img src="assets/images/logo.png" alt="." class="hide">
                    <span class="hidden-folded inline ng-binding">Eiffel</span>
                </a>

                <ul class="nav navbar-nav pull-right">

                    <li class="nav-item">
                        <a href="notification.html" class="nav-link m-t-sm" ui-fullscreen="">
                            <span><i class="material-icons md-24"></i></span>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href class="nav-link dropdown-toggle clear" data-toggle="dropdown">
          <span class="avatar w-32">
            <img src="assets/images/a2.jpg" alt="...">
            <i class="busy b-white right"></i>
          </span>
                        </a>
                        <div class="dropdown-menu pull-right dropdown-menu-scale ng-scope">
                            <a class="dropdown-item" ui-sref="app.inbox.list" href="#/app/inbox/inbox/">
                                <span>Inbox</span>
                                <span class="label warn m-l-xs">3</span>
                            </a>
                            <a class="dropdown-item" ui-sref="app.page.profile" href="profile.html">
                                <span>Profile</span></a>
                            <a class="dropdown-item" ui-sref="app.page.setting" href="settings.html">
                                <span>Settings</span>
                                <span class="label primary m-l-xs">3/9</span>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" ui-sref="app.docs" href="#/app/docs">Need help?</a>
                            <a class="dropdown-item" ui-sref="access.signin" href="signup.html">Sign out</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a  class="navbar-toggle offcanvas-toggle pull-right nav-link m-t-sm"
                            data-toggle="offcanvas" data-target="#js-bootstrap-offcanvas" style="float:left;"
                            ui-fullscreen="">
                            <span><i class="material-icons md-24"></i></span>
                        </a>
                    </li>
                </ul>

                <div class="collapse navbar-toggleable-sm" id="navbar-4" data-pjax="">

                    <ul class="nav navbar-nav pull-left nav-active-border b-primary">
                        <li class="nav-item">
                            <a href="money.html" class="nav-link" ui-sref="app.dashboard" ui-sref-active="active">
                                <span class="nav-text">Money</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="property.html" class="nav-link" ui-sref="app.widget" ui-sref-active="active">
                                <span class="nav-text">Property</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="service.html" class="nav-link" ui-sref="app.widget" ui-sref-active="active">
                                <span class="nav-text">Service</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="meet.html" class="nav-link" ui-sref="app.widget" ui-sref-active="active">
                                <span class="nav-text">Meet</span>
                            </a>
                        </li>
                        <!--<li class="nav-item">-->
                            <!--<a href="news.html" class="nav-link" ui-sref="app.widget" ui-sref-active="active">-->
                                <!--<span class="nav-text">News</span>-->
                            <!--</a>-->
                        <!--</li>-->
                        <li class="nav-item">
                            <a href="q.html" class="nav-link" ui-sref="app.widget" ui-sref-active="active">
                                <span class="nav-text">Q & A</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="body-inner-padding ng-scope">
<div class="item ">
    <div class="item-bg">
        <img src="assets/images/a1.jpg" class="blur opacity-3">
    </div>
    <div class="p-a-md">
        <div class="row m-t">
            <div class="col-sm-7">
                <a href class="pull-left m-r-md">
            <span class="avatar w-96">
              <img src="assets/images/a1.jpg">
              <i class="on b-white"></i>
            </span>
                </a>
                <div class="clear m-b">
                    <h3 class="m-a-0 m-b-xs">Jean Reyes</h3>
                    <p class="text-muted"><span class="m-r">Director</span> <small><i class="fa fa-map-marker m-r-xs"></i>
                        Noida, U.P</small></p>
                    <div class="block clearfix m-b">
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-facebook"></i>
                            <i class="fa fa-facebook indigo"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-twitter"></i>
                            <i class="fa fa-twitter light-blue"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-google-plus"></i>
                            <i class="fa fa-google-plus red"></i>
                        </a>
                        <a href="" class="btn btn-icon btn-social rounded white btn-sm">
                            <i class="fa fa-linkedin"></i>
                            <i class="fa fa-linkedin cyan-600"></i>
                        </a>
                    </div>
                    <a href class="btn btn-sm {{app.setting.theme.warn}} btn-rounded m-b">Follow</a>
                </div>
            </div>
            <div class="col-sm-5">
                <p class="text-md profile-status" ng-init="user.status='I am feeling good!'" ng-binding="user.status">I am feeling good!</p>
                <!--<button class="btn btn-sm white" data-toggle="collapse" data-target="#editor">Edit</button>-->
                <div class="collapse box m-t-sm" id="editor">
                    <textarea class="form-control no-border" rows="2" ng-model="user.status" placeholder="Type something..."></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="dker p-x">
    <div class="row">
        <div class="col-sm-6 col-sm-push-6">
            <div class="p-y text-center text-sm-right">
                <a href class="inline p-x text-center">
                    <span class="h4 block m-a-0">2k</span>
                    <small class="text-xs text-muted">Followers</small>
                </a>
                <a href class="inline p-x b-l b-r text-center">
                    <span class="h4 block m-a-0">250</span>
                    <small class="text-xs text-muted">Following</small>
                </a>
                <a href class="inline p-x text-center">
                    <span class="h4 block m-a-0">19</span>
                    <small class="text-xs text-muted">Posts</small>
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-pull-6">
            <div class="p-y-md clearfix nav-active-{{app.setting.theme.primary}}">
                <ul class="nav nav-pills nav-sm">
                    <li class="nav-item active">
                        <a class="nav-link" href data-toggle="tab" data-target="#tab_1">Feeds</a>
                    </li>
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href data-toggle="tab" data-target="#tab_2">Stream</a>-->
                    <!--</li>-->
                    <!--<li class="nav-item">-->
                        <!--<a class="nav-link" href data-toggle="tab" data-target="#tab_3">Friends</a>-->
                    <!--</li>-->
                    <li class="nav-item">
                        <a class="nav-link" href data-toggle="tab" data-target="#tab_4">Profile</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="padding">
    <div class="row">
        <div class="col-sm-8 col-lg-9">
            <div class="tab-content ">
                <div class="tab-pane p-v-sm active" id="tab_1">
                    <div class="box container">
                        <div class="box-header row">
                            <div class="pull-left">
                                <i class="fa fa-tag"></i>&nbsp; Money
                            </div>
                            <div class=" pull-right">
                                <b class="label rounded primary">Required</b>
                            </div>

                        </div>
                        <div class="row container">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="sl-left profile">
                                    <img src="assets/images/a0.jpg" class="img-circle profile_img"></div>
                                <div class="sl-date eff_date text-muted">2 minutes ago</div>
                                <div class="sl-author eff_name">
                                    <a href>Peter Joo</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="pull-right ">
                                    <i class="material-icons eiff-16 text-muted">&#xE0C8;</i><span>Noida</span>
                                </div>
                            </div>
                        </div><hr class="eiff-hr">
                        <div class="row container">
                            <p class="eff_title eiff-text-style">Title for post lorem ipsum sodales nisi nec condimentum.</p>
                        </div>
                        <div class="row container">
                            <p class="eiff-text-style">Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis
                                ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum.
                                Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque,
                                quis malesuada augue. Donec eleifend.....<a class="text-primary">Read More</a><br>
                            </p>
                            <button class="btn btn-sm rounded btn-outline m-r b-primary m-b-sm eiff-cursor" type="button">
                                Rate of Interest
                                <span class="label rounded warn">4</span></button>
                            <button class="btn btn-sm rounded btn-outline m-r  b-primary m-b-sm eiff-cursor" type="button">
                                Invest Against
                                <span class="label rounded warn">35k</span></button>
                            <button class="btn btn-sm  rounded btn-outline m-r   b-primary m-b-sm eiff-cursor " type="button">
                                Amount
                                <span class="label rounded warn">40k</span></button>
                        </div><br>
                        <div class="sl-footer">
                            <a href data-toggle="collapse" data-target="#">
                                <i class="fa fa-thumbs-o-up text-muted" aria-hidden="true"></i> Like
<!--
                                <md-tooltip md-direction="{{demo.tipDirection}}">
                                    Like this post
                                </md-tooltip>
-->
                            </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <a  href data-toggle="collapse" data-target="#reply-1">
                                <i class="fa fa-comments text-muted" aria-hidden="true"></i> Comment
<!--
                                <md-tooltip md-direction="{{demo.tipDirection}}">
                                    Leave a comment
                                </md-tooltip>
-->
                            </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <a  href data-toggle="collapse" data-target="#" aria-label="Share">
                                <i class="fa fa-share-alt text-muted" aria-hidden="true"></i> Share
                                
                        </div>
                        <div class="box collapse m-a-1 b-a" id="reply-1">
                            <form>
                                <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                            </form>
                            <div class="box-footer clearfix">
                                <button class="btn btn-info pull-right btn-sm">Post</button>
                                <ul class="nav nav-pills nav-sm">
                                    <li class="nav-item">
                                        <a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
                                    <li class="nav-item"><a class="nav-link" href>
                                        <i class="fa fa-video-camera text-muted"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box container">
                        <div class="box-header row">
                            <div class="pull-left">
                                <i class="fa fa-tag"></i>&nbsp; Property
                            </div>
                            <div class="pull-right ">
                                <b class="label rounded primary">Required</b>
                            </div>
                        </div>
                        <div class=" row container">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="sl-left profile">
                                    <img src="assets/images/a0.jpg" class="img-circle profile_img"></div>
                                <div class="sl-date eff_date text-muted">2 minutes ago</div>
                                <div class="sl-author eff_name">
                                    <a href>Peter Joo</a>
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <div class="pull-right">
                                    <i class="material-icons eiff-16 text-muted">&#xE0C8;</i><span>Noida</span>
                                </div>
                            </div>
                        </div><hr class="eiff-hr">
                        <!--carousel starting-->
                        <section id="features"  ng-init="index=1">
                            <div class="content">
                                <slick class="slider single-item" current-index="index" responsive="breakpoints"
                                       slides-to-show=1 slides-to-scroll=1>
                                    <div ng-repeat="m in slides">
                                        <img src="{{m.image}}" class="img-responsive">
                                    </div>
                                </slick>

                            </div>
                        </section>
                        <!--carousel end-->
                        <div class="row container">
                            <p class="title eff_title ">Title for post lorem ipsum sodales nisi nec condimentum.</p>
                        </div>
                        <div class="row container ">
                            <p>Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis
                                ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum.
                                Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque,
                                quis malesuada augue. Donec eleifend.....<a class="text-primary" >Read More</a><br>
                            </p>
                            <button class="btn btn-sm rounded btn-outline m-r b-primary m-b-sm eiff-cursor" type="button">
                                Rent
                                <span class="label rounded warn">4</span></button>
                            <button class="btn btn-sm rounded btn-outline m-r  b-primary m-b-sm eiff-cursor" type="button">
                                Type Of Property</button>
                            <button class="btn btn-sm  rounded btn-outline m-r b-primary m-b-sm eiff-cursor" type="button">
                                Other tags
                            </button>
                        </div><br>
                        <div class="sl-footer">
                            <a href data-toggle="collapse" data-target="#">
                                <i class="fa fa-thumbs-o-up text-muted" aria-hidden="true"></i> Like
                               
                            </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <a  href data-toggle="collapse" data-target="#reply-1">
                                <i class="fa fa-comments text-muted" aria-hidden="true"></i> Comment
                                
                            </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <a  href data-toggle="collapse" data-target="#" aria-label="Share">
                                <i class="fa fa-share-alt text-muted" aria-hidden="true"></i> Share
                                </a>
                        </div>
                        <div class="box collapse m-a-1 b-a" id="reply-1">
                            <form>
                                <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                            </form>
                            <div class="box-footer clearfix">
                                <button class="btn btn-info pull-right btn-sm">Post</button>
                                <ul class="nav nav-pills nav-sm">
                                    <li class="nav-item">
                                        <a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
                                    <li class="nav-item"><a class="nav-link" href>
                                        <i class="fa fa-video-camera text-muted"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="box container">
                        <div class="box-header row">
                            <div class="col-md-6 tag p-l-0 ">
                                <div><i class="fa fa-tag"></i>&nbsp; Service</div></div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-3 col-md-offset-9 ">
                                        <b class="label rounded primary">Required</b>
                                    </div>
                                </div></div>
                        </div>
                        <div class="row container">
                            <div class="col-md-6">
                                <div class="sl-left profile">
                                    <img src="assets/images/a0.jpg" class="img-circle profile_img"></div>
                                <div class="sl-date eff_date text-muted">2 minutes ago</div>
                                <div class="sl-author eff_name">
                                    <a href>Peter Joo</a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="pull-right  ">
                                    <i class="material-icons eiff-16 text-muted">&#xE0C8;</i><span>Noida</span>
                                </div>
                            </div>
                        </div><hr class="eiff-hr">
                        <div class="row container">
                            <p class="eff_title">Title for post lorem ipsum sodales nisi nec condimentum.</p>
                        </div>
                        <div class="row container">
                            <p>Consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis
                                ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum.
                                Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque,
                                quis malesuada augue. Donec eleifend...<a class="text-primary">Read More</a><br>

                            </p>
                            <button class="btn btn-sm rounded btn-outline m-r b-primary m-b-sm eiff-cursor" type="button">
                                Service Category
                                <!--<span class="label rounded warn">4</span></button>-->
                                <button class="btn btn-sm rounded btn-outline m-r b-primary m-b-sm eiff-cursor" type="button">
                                    Price
                                    <span class="label rounded warn">35k</span></button>
                                <button class="btn btn-sm  rounded btn-outline b-primary m-b-sm eiff-cursor" type="button">
                                    Tags
                                    <!--<span class="label rounded warn">40k</span></button>-->
                        </div><br>
                        <div class="sl-footer">
                            <a href data-toggle="collapse" data-target="#">
                                <i class="fa fa-thumbs-o-up text-muted" aria-hidden="true"></i> Like
                                
                            </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                            <a  href data-toggle="collapse" data-target="#reply-1">
                                <i class="fa fa-comments text-muted" aria-hidden="true"></i> Comment
                                
                            </a><span>&nbsp;&nbsp;&nbsp;&nbsp;</span>

                            <a  href data-toggle="collapse" data-target="#" aria-label="Share">
                                <i class="fa fa-share-alt text-muted" aria-hidden="true"></i> Share
                               </a>
                        </div>
                        <div class="box collapse m-a-1 b-a" id="reply-1">
                            <form>
                                <textarea class="form-control no-border" rows="3" placeholder="Type something..."></textarea>
                            </form>
                            <div class="box-footer clearfix">
                                <button class="btn btn-info pull-right btn-sm">Post</button>
                                <ul class="nav nav-pills nav-sm">
                                    <li class="nav-item">
                                        <a class="nav-link" href><i class="fa fa-camera text-muted"></i></a></li>
                                    <li class="nav-item"><a class="nav-link" href>
                                        <i class="fa fa-video-camera text-muted"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-v-sm" id="tab_2">
                    <div class="streamline b-l m-b m-l">
                        <div class="sl-item">
                            <div class="sl-content">
                                <div class="sl-date text-muted">2 minutes ago</div>
                                <p>Check your Internet connection</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div class="sl-date text-muted">9:30</div>
                                <p>Meeting with tech leader</p>
                            </div>
                        </div>
                        <div class="sl-item b-success">
                            <div class="sl-content">
                                <div class="sl-date text-muted">8:30</div>
                                <p>Call to customer <a href class="text-info">Jacob</a> and discuss the detail.</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Wed, 25 Mar</div>
                                <p>Finished task <a href class="text-info">Testing</a>.</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Thu, 10 Mar</div>
                                <p>Trip to the moon</p>
                            </div>
                        </div>
                        <div class="sl-item b-info">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Sat, 5 Mar</div>
                                <p>Prepare for presentation</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Sun, 11 Feb</div>
                                <p><a href class="text-info">Jessi</a> assign you a task <a href class="text-info">Mockup Design</a>.</p>
                            </div>
                        </div>
                        <div class="sl-item">
                            <div class="sl-content">
                                <div class="sl-date text-muted">Thu, 17 Jan</div>
                                <p>Follow up to close deal</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-v-sm" id="tab_3">
                    <div ui-include="'../views/blocks/widget.friends.html'"></div>
                </div>
                <div class="tab-pane p-v-sm" id="tab_4">
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <small class="text-muted">Cell Phone</small>
                            <div class="_500">1243 0303 0333</div>
                        </div>
                        <div class="col-xs-6">
                            <small class="text-muted">Family Phone</small>
                            <div class="_500">+32(0) 3003 234 543</div>
                        </div>
                    </div>
                    <div class="row m-b">
                        <div class="col-xs-6">
                            <small class="text-muted">Reporter</small>
                            <div class="_500">Coch Jose</div>
                        </div>
                        <div class="col-xs-6">
                            <small class="text-muted">Manager</small>
                            <div class="_500">James Richo</div>
                        </div>
                    </div>
                    <div>
                        <small class="text-muted">Bio</small>
                        <div>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id neque quam. Aliquam sollicitudin venenatis ipsum ac feugiat. Vestibulum ullamcorper sodales nisi nec condimentum. Mauris convallis mauris at pellentesque volutpat. Phasellus at ultricies neque, quis malesuada augue.</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-lg-3">
            <div>
                <div class="box">
                    <div class="box-header">
                        <h3>Friends</h3>
                    </div>
                    <ul class="list inset m-a-0">
                        <li class="list-item">
                            <a herf="" class="list-left">
			                  <span class="w-40 avatar">
				                  <img src="assets/images/a7.jpg" alt="...">
				                  <i class="on b-white left"></i>
			                  </span>
                            </a>
                            <div class="list-body">
                                <div class="m-t-sm text-ellipsis"><a href="">Chris Fox</a></div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a herf="" class="list-left">
			                  <span class="w-40 avatar">
				                  <img src="assets/images/a8.jpg" alt="...">
				                  <i class="on b-white left"></i>
				              </span>
                            </a>
                            <div class="list-body">
                                <div class="m-t-sm text-ellipsis"><a href="">Mogen Polish</a></div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a herf="" class="list-left">
			                  <span class="w-40 avatar">
				                  <img src="assets/images/a9.jpg" alt="...">
				                  <i class="busy b-white left"></i>
				              </span>
                            </a>
                            <div class="list-body">
                                <div class="m-t-sm text-ellipsis"><a href="">Joge Lucky</a></div>
                            </div>
                        </li>
                        <li class="list-item">
                            <a herf="" class="list-left">
			                  <span class="w-40 avatar">
				                  <img src="assets/images/a6.jpg" alt="...">
				                  <i class="away b-white left"></i>
				              </span>
                            </a>
                            <div class="list-body">
                                <div class="m-t-sm text-ellipsis"><a href="">Folisise Chosielie</a></div>
                            </div>
                        </li>
                    </ul>
                    <div class="box-footer">
                        <span class="label text-sm success">560</span>
                        <a href="" class="text-u-c btn btn-xs info pull-right">More</a>
                    </div>
                </div>

                <div class="box">
                    <div class="box-header">
                        <h2>About Me</h2>
                    </div>
                    <div class="box-divider m-a-0"></div>
                    <ul class="list">
                        <li class="list-item">
                            <div class="list-body">
                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                            </div>
                        </li>


                    </ul>
                </div>
                <div class="box info dk">
                    <div class="box-body">
                        <a href class="pull-left m-r">
                            <img src="assets/images/a0.jpg" class="img-circle w-40">
                        </a>
                        <div class="clear">
                            <p>CONTACT ME</p>
                            <p><i class="material-icons md-24 eiff-16"></i>&nbsp;john@gmail.com</p>
                            <p><i class="material-icons md-24 eiff-16"></i>&nbsp;9799886767</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div class="footer p-a-md footer-bg-color">
    <div class="text-center">
        <div class="clearfix text-lg m-t">
            <strong>Eiffel Project</strong>
        </div>
        <div class="nav m-y">
            <a class="nav-link m-r" href>
                <span>Money</span>
            </a>
            <a class="nav-link m-r" href>
                <span>Property</span>
            </a>
            <a class="nav-link m-r" href>
                <span>Services</span>
            </a>
            <a class="nav-link m-r" href>
                <span>News</span>
            </a>
            <a class="nav-link m-r" href>
                <span>Meets</span>
            </a>
            <a class="nav-link m-r" href>
                <span>Contact Us</span>
            </a>
        </div>
        <div class="block clearfix">
            <a href class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-facebook"></i>
                <i class="fa fa-facebook indigo"></i>
            </a>
            <a href class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-twitter"></i>
                <i class="fa fa-twitter light-blue"></i>
            </a>
            <a href class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-google-plus"></i>
                <i class="fa fa-google-plus red"></i>
            </a>
            <a href class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-linkedin"></i>
                <i class="fa fa-linkedin cyan-600"></i>
            </a>
            <a href class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-behance"></i>
                <i class="fa fa-behance blue"></i>
            </a>
            <a href class="btn btn-icon btn-social rounded btn-sm">
                <i class="fa fa-dribbble"></i>
                <i class="fa fa-dribbble pink"></i>
            </a>
        </div>
    </div>
    <div class="b b-b m-y-md"></div>
    <div class="row footer-bottom">
        <div class="col-sm-8">
            <small class="text-muted">&copy; Copyright 2015. All rights reserved.</small>
        </div>
        <div class="col-sm-4">
            <div class="text-sm-right text-xs-left">
                <strong>Eiffel</strong>
            </div>
        </div>
    </div>
</div>


<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
    !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
                (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
            r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
    }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-XXXXX-X');
    ga('send', 'pageview');
</script>

<!-- build:js(.) scripts/vendor.js -->

<!-- bower:js -->
<!--<script src="bower_components/jquery/dist/jquery.js"></script>-->
<!--<script src="bower_components/angular/angular.js"></script>-->
<!--<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>-->
<!--<script src="bower_components/tether/dist/js/tether.js"></script>-->
<!--<script src="bower_components/PACE/pace.js"></script>-->
<!--<script src="bower_components/underscore/underscore.js"></script>-->
<!--<script src="bower_components/angular-route/angular-route.js"></script>-->
<!--<script src="bower_components/angular-animate/angular-animate.js"></script>-->
<!--<script src="bower_components/angular-aria/angular-aria.js"></script>-->
<!--<script src="bower_components/angular-messages/angular-messages.js"></script>-->
<!--<script src="bower_components/angular-material/angular-material.js"></script>-->
<!--<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>-->
<!--<script src="bower_components/angular-touch/angular-touch.js"></script>-->
<!--<script src="bower_components/slick-carousel/slick/slick.min.js"></script>-->
<!--<script src="bower_components/angular-slick/dist/slick.js"></script>-->
<!--<script src="bower_components/ng-tags-input/ng-tags-input.min.js"></script>-->
<!--<script src="bower_components/angular-ui-select/dist/select.js"></script>-->
<!--<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>-->
<!--<script src="bower_components/bootstrap-offcanvas/dist/js/bootstrap.offcanvas.js"></script>-->
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<!--<script src="scripts/app.js"></script>-->
<!--<script src="scripts/controllers/main.js"></script>-->
<!--<script src="scripts/controllers/login.js"></script>-->


<!--<script src="scripts/controllers/signup.js"></script>-->

<!--<script src="scripts/controllers/money.js"></script>-->
<!--<script src="scripts/controllers/property.js"></script>-->
<!--<script src="scripts/controllers/service.js"></script>-->
<!--<script src="scripts/controllers/news.js"></script>-->
<!--<script src="scripts/controllers/q.js"></script>-->
<!--<script src="scripts/controllers/meet.js"></script>-->
<!--<script src="scripts/controllers/forgot-pwd.js"></script>-->
<!--<script src="scripts/controllers/profile.js"></script>-->
<!--<script src="scripts/controllers/my-office.js"></script>-->
<!--<script src="scripts/controllers/settings.js"></script>-->
<!--<script src="scripts/controllers/change-pwd.js"></script>-->
<!--<script src="scripts/controllers/search.js"></script>-->
<!--<script src="scripts/controllers/messaging.js"></script>-->
<!--<script src="scripts/controllers/notification.js"></script>-->
<!--<script src="scripts/controllers/privacy.js"></script>-->
<!--<script src="scripts/controllers/my-network.js"></script>-->
<!--<script src="scripts/controllers/dashboard.js"></script>-->
<!--<script src="scripts/controllers/money-get-details.js"></script>-->
<!--<script src="scripts/controllers/property-get-details.js"></script>-->

<!--&lt;!&ndash;<script src="scripts/directives/ngclick.js"></script>&ndash;&gt;-->
<!--<script src="scripts/directives/ngenter.js"></script>-->
<!--<script src="scripts/controllers/service-get-details.js"></script>-->
<!--<script src="scripts/controllers/meet-stream-get-details.js"></script>-->
<!--<script src="scripts/controllers/news-get-details.js"></script>-->
<!--<script src="scripts/controllers/q-a-get-details.js"></script>-->
<!-- endbuild -->
</body>
</html>
